@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap");

:root {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant-numeric: lining-nums proportional-nums;
}

html {
  background: #1e1e1e;
}

body {
  position: relative;
  background: radial-gradient(
    66.06% 66.06% at 50% 33.94%,
    #2c6606 0%,
    rgba(47, 91, 19, 0) 100%
  );
  width: 100%;
  height: 100vh;
  //overflow: hidden;
}

.copyright {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  background: #ddb474;
  z-index: 3;
  padding: 0.5rem 1.25rem 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  a {
    color: #1e1e1e;
  }
}

h1 {
  color: #ddb474;
  font-size: 253.263px;
  line-height: 150%;
  z-index: 3;
  &.border {
    -webkit-text-stroke-width: 4;
    -webkit-text-stroke-color: #000;
    font-size: 200px;
  }
}

.start,
.out {
  cursor: pointer;
}

#app {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 1000px;
  height: 1000px;
  position: absolute;
  left: 50%;
  bottom: -750px;
  transform: translate(-50%, 0);
  z-index: 1;
}

.start {
  position: absolute;
  left: 50%;
  bottom: 150px;
  transform: translate(-50%, 0);
  z-index: 3;
}

.out {
  position: absolute;
  right: 1rem;
  bottom: 4rem;
  opacity: 0;
}

.cartes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 1000px;
  position: absolute;
  left: 50%;
  bottom: -600px;
  transform: translate(-50%, 0) rotate(0deg);
  //background: #000;
  transform-origin: center center;
  z-index: 2;
  .carte {
    position: absolute;
    left: 50%;
    top: -450px;
    transform-origin: bottom left;
    width: 230px;
    transition: transform 0.5s;
    &.carte1 {
      transform: rotate(0deg) translate(-50%, 0);
    }
    &.carte2 {
      transform: rotate(7deg) translate(-50%, 0);
    }
    &.carte3 {
      transform: rotate(14deg) translate(-50%, 0);
    }
    &.carte4 {
      transform: rotate(21deg) translate(-50%, 0);
    }
    &.carte5 {
      transform: rotate(-5deg) translate(-50%, 0);
    }
    &.carte6 {
      transform: rotate(-10deg) translate(-50%, 0);
    }
    &.carte7 {
      transform: rotate(-15deg) translate(-50%, 0);
    }
    &.carte8 {
      transform: rotate(-20deg) translate(-50%, 0);
    }
  }
}
